.card {
    /* list-style: none; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    padding: 0;
}

.item {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* gap: 10px; */
    /* padding-left: 20px; */
    padding-top: 20px;
    width: 140px;
    background-color: #fff;
    border: solid darkgrey;
    border-radius: 8px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1), 4px 0px 8px rgba(0, 0, 0, 0.2),
        -4px 0px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.3);
}